@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-destaque: #D00000;
    --color-white: #E8E9ED;
    --color-black: #0F0F0F;

    --font-title: "Montserrat", sans-serif;
    --font-body: "Poppins", sans-serif;
}

*{
    margin: 0;
    list-style: none;
}

header{
    height: 100vh;   
}

header::before {
    content: "";
    background-image: url("../images/header.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
}

h1{
    color: var(--color-destaque);
    font-size: 3.5rem;
    font-weight: 800;
    font-family: var(--font-title);
}

header h2{
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font-body);
}

#secao-apresentacao {
    display: flex;
    align-items: center;
    padding: 4rem;
}

#secao-apresentacao img{
    border-radius: 50%;
}

#texto-apresentacao {
    color: var(--color-black);
    flex-direction: column;
}

#texto-apresentacao h2{
    font-size: 2.5rem;
    font-family: var(--font-title);
}

#texto-apresentacao p{
    font-size: 1.5rem;
    font-family: var(--font-body);
}

#secao-projetos {
    background-color: var(--color-black);
    height: 100vh;
}

#secao-projetos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.card{
    max-width: 300px;
    height: 420px;
    position: relative;
    cursor: pointer;
}

.card-text {
    position: absolute;
    top: 50%;
    opacity: 0;
    padding: 10px;
    transition: opacity .5s, top .5s;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity .5s;
}

.image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card:hover .card-text{
    opacity: 1;
    top: 5%
}

.card:hover .image-wrapper{
    opacity: 0.3;
}